@font-face {
    font-family: 'Teko';
    src: url('../assets/font/Teko-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/Montserrat-VariableFont_wght.ttf');
}
:root {
    --primary:#968C83;
    --second: #D6D2C4;
    --text-color:black;
    --bg: white;
    }

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color:var(--bg);
}

.nav-profile{
    height: 50px;
    width: 100%;
    position: flex;
    background-color: var(--second);
    box-shadow: 1px 2px 5px #9a9999d1;
    justify-content: space-between;
}

.nav-profile .profile {
    top: 8px;
    right: 20px;
    position: fixed;
}

.nav-profile .cari {
    top: 15px;
    right: 20px;
    position: fixed;
    justify-content: space-between;
}

.logo img {
    height: 135px;
    width: 135px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 35px;
    margin-top: 50px;
}

.logo .a1 {
    float: left;
    margin-bottom: 5px;
    margin-left: 30%;
    margin-top: 20%;
    text-align: center;
    font-family: 'Teko';
}
.logo .a1 p {
    float: right;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Teko';

}

.navbar .sidebar {
    height: 100%;
    width: 18%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-top: 35px;
    margin-left: 35px;
}

li a {
    text-decoration: none;
    color: var(--text-color);
}
li a:hover {
    color: white;
  }

.logout a {
    color: var(--text-color);
    position: absolute;
    bottom: 35px;
    left: 35px;
}

.logout :hover {
    color: var(--bg);
}
@media (max-width: 758px) {
    html {
        font-size: 85%;
    }
    .logo img {
        height: 105px;
        width: 105px;
        margin-bottom: 10px;
        position: relative;
        margin-left: 35px;
        margin-top: 80px;
    }
    .navbar .sidebar {
        height: 100%;
        width: 180px;
        left: 0;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 75%;
    }
    .logo img {
        height: 85px;
        width: 85px;
        margin-bottom: 10px;
        position: relative;
        margin-left: 35px;
        margin-top: 80px;
    }
    .navbar .sidebar {
        height: 100%;
        width: 160px;
        left: 0;
    }
}