* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    background-color: #554994;
    display: flex;
    height: 50px;
    align-items: center;
    color: azure;
    padding-left: 30px;
}

nav ul {
    width: 10%;
    display: flex;
    list-style: none;
    margin: auto;

}

nav ul li {
    display: flex;
    margin: 10px;
    justify-content: end;
}

nav ul li a {
    text-decoration: none;
    color: azure;
}

nav ul li a:hover {
    color: rgba(240, 255, 255, 0.316);
}

.menu-toggle span,
input {
    display: none;
}

/* break pont landsacape */

@media screen and (max-width: 768px) {
    nav ul li {
        margin-right: -57px;
        margin-left: -32px;
    }
}

/* break pont mobile */
@media screen and (max-width: 576px) {
    .menu-toggle span {
        display: block;
        position: relative;
    }

    .menu-toggle input {
        position: absolute;
        width: 25px;
        height: 25px;
        z-index: 2;

    }

    nav ul {
        display: none;
    }
}