:root {
  --head: #968C83;
  --child: #D6D2C4;
  --text: black;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat-VariableFont_wght.ttf');
}

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h2 {
  margin-top: 5%;
  text-align: center;
  margin-left: 15%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
  padding-left: 20%;
  margin: 10px 10px 50px 70px;
}

.fl-table {
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 90%;
  max-width: 100%;
  white-space: normal;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: var(--head);
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.hapus {
  background-color: crimson;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  margin: 0 10px 0 0;
}

.Update {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(207, 220, 20);
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}

a button.form-insert:hover,
.Update:hover,
.hapus:hover,
a button.insert-pembayaran {
  cursor: pointer;
  opacity: 1;
}

a button.form-insert:active,
.Update:active,
.hapus:active {
  cursor: pointer;
  opacity: 0.7;
}

.row-angkatan {
  width: 500px;
}

a button.form-insert {
  width: 70px;
  height: 35px;
  font-size: 16px;
  margin: 0 0 10px 0;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--head);
}

a button.insert-pembayaran {
  width: 70px;
  height: 30px;
  font-size: 12px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--head);
}

.icon-hps>svg,
svg.icon-hps {
  padding-right: 5px;
  fill: black;
  margin: auto;
  width: 24px;
  height: 24px;
}

.icon-hps>svg:hover {
  fill: rgb(255, 0, 0);
  margin: auto;
  width: 24px;
  height: 24px;
}

.icon-edit>svg {
  padding-right: 5px;
  fill: black;
  margin: auto;
  width: 24px;
  height: 24px;
}

.icon-edit>svg:hover {
  fill: orange;
  margin: auto;
  width: 24px;
  height: 24px;
}

.form-cari {
  position: relative;
  margin: 0 0 15px 0;
}

.select-tahun {
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  background-color: grey;
  color: white;
  box-shadow: 0 0 3PX 0 black;
}

.select-bulan {
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  background-color: grey;
  color: white;
  box-shadow: 0 0 3PX 0 black;
}

.tombol-cari {
  text-align: center;
  width: 80px;
  margin-left: 5px;
  height: 30px;
  border-radius: 7px;
  background-color: grey;
  box-shadow: 0 0 3PX 0 black;
  color: white;
  cursor: pointer;
}

.tombol-cari:hover {
  background-color: grey;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .table-wrapper:before {
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}